<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- 打开延迟加载的开关 -->
        <setting name="lazyLoadingEnabled" value="true" />
        <!-- 将积极加载改为消息加载即按需加载 -->
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
<!--配置对象别名-->
<typeAliases>
    <typeAlias type="com.igeek.pojo.User" alias="user"></typeAlias>
    <typeAlias type="com.igeek.pojo.Dep" alias="dep"></typeAlias>
    <typeAlias type="com.igeek.pojo.Emp" alias="emp"></typeAlias>
    <typeAlias type="com.igeek.pojo.EmpNumber" alias="number"></typeAlias>
</typeAliases>

<!--添加到映射文件-->
    <mappers>
        <mapper resource="mapper/user-mapper.xml"></mapper>
        <mapper resource="mapper/dep-mapper.xml"></mapper>
        <mapper resource="mapper/emp-mapper.xml"></mapper>
    </mappers>
</configuration>
